{% extends 'base.html' %}

{% block title %}profile page{% end %}

{% block content %}

<div class="card">
    <div class="card-header"><h3>{{ user.name }} 用户上传</h3></div>
    <div class="row">
        {% for p in user.posts %}
        <div class="col-6 col-sm-3">
            <a href="/post/{{ p.id }}">
                <img src="{{ static_url(p.thumb_url) }}"/>
            </a>
        </div>
        {% end %}
    </div>
</div>

<div class="card">
    <div class="card-header"><h3>用户喜欢</h3></div>
    <div class="row">
        {% for p in like_posts %}
        <div class="col-6 col-sm-3">
            <a href="/post/{{ p.id }}">
                <img src="{{ static_url(p.thumb_url) }}"/>
            </a>
        </div>
        {% end %}
    </div>
</div>


{% end %}